.login-container {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
}

.breadcrumb {
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.breadcrumb a {
  color: #3b82f6;
  text-decoration: none;
}

.breadcrumb .current {
  color: #222;
}

.login-title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.login-box {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.tabs {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #555;
}

.tabs button.active {
  border-bottom: 3px solid #000;
  color: #000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 15px;
  background: transparent;
}

.password-field {
  position: relative;
  display: flex;
 justify-content: space-between;
  
}
.password-field input {
    width: 94%;
}
.password-field span {
}

.toggle-password {
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
}

.btn-login {
  background: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #333;
}

.forgot {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}
